@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1A1D2F; /* Půlnoční inkoust */
    color: #F8F6F0;           /* Jemný krém */
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
}
